.card {
    padding: 17.25rem 0;
}
.card-content {
    display: grid;
    grid-template-columns: repeat(3 , 370px);
    grid-template-rows: repeat(2 , 1fr);
    grid-column-gap: 31px;
    grid-row-gap: 89px;
}
.card-img {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 1.8125rem;
}
.card-img img{
    
}
.card-text {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    color: #2D3033;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}
.card-description {
    text-align: center;
    p{
        font-size: 1.125rem;
        font-weight: 400;
        color: #6C7279;
    }
}
@media (max-width: 1024px){
    .card-content {
        grid-template-columns: repeat(3 , 315px);
        grid-template-rows: repeat(2 , 1fr);
    }
    .card-img{
        width: 85px;
        height: 85px;
    }
    .card-text{
        font-size: 1.125rem;
    }
    .card-description p{
        font-size: 0.875rem;
    }
}
@media (max-width: 320px){
    .card-content{
        grid-template-columns: repeat(1 , 279px);
        grid-template-rows: repeat(6 , 1fr);
    }
    .card-img{
        width: 75px;
        height: 75px;
    }
}