.download {
    padding: 7.25rem 0;
}
.download-text {
    text-align: center;
    font-size: $_30px;
    font-weight: 500;
    margin-bottom: 0.7rem;
}
.download-title {
    text-align: center;
    font-size: $_18px;
    font-weight: 400;
    margin-bottom: 3rem;
}
