.footer-top {
    padding: 4.375rem 0;
    background-color: #353C65;
}
.footer-top_content{
    display: flex;
    justify-content: space-between;
}
.footer-content{
    width: 370px;
}
.footer-top_text{
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1.8125rem;
    text-transform: uppercase;
}
.footer-top_description {
    p{
        text-align: center;
        font-size: 1.125rem;
        font-weight: 400;
        color: #ffffff;
    }
}
.Share-with_list {
    display: flex;
    width: 10.6875rem;
    margin: auto;
}
.Share-with_list-item {
    margin-right: 1.6875rem;
}
@media (max-width: 1024px){
    .footer-content{
        width: 315px;
    }
    .footer-top_text{
        width: 315px;
        font-size: 14px;
    }
    .footer-top_description{
        width: 315px;
        p{
            font-size: 14px;
        }
    }
}
@media (max-width: 320px){
    .footer-top_content{
        display: block;
        width: 290px;
    }
    .footer-content{
        margin-bottom: 70px;
    }
    .footer-content:last-child{
        margin-bottom: 0;
    }
    .footer-content{
        width: 290px;
    }
    .footer-top_text{
        width: 290px;
    }
    .footer-top_description{
        width: 290px;
    }
    .Share-with_navigation{
        width: 290px;
    }
}