.footer {
    padding: 1.5rem 0;
    background-color: #2C3154;
}
.footer-description {
    width: 23.125rem;
    margin: auto;
    p{
        text-align: center;
        font-size: $_18px;
        font-weight: 400;
        color: #808080;
    }

}
.footer-span {
    color: #ffffff;
}