.header {
    padding: 2.375rem 0 7.5rem 0;
    background-image: url('../img/fons/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.6875rem;
    &::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        border-bottom: 3px solid #656980;
    }
}
.logo {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #656980;
    span{
        font-weight: 200;
        color: #ffffff;
    }
}
.navigation-list {
    display: flex;
}
.navigation-list_item{
    display: flex;
    width: 8.375rem;
    text-align: center;
}
.link{
    position: absolute;
    font-size: $_13px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2rem 0
}
.link:hover{
    content: '';
        
    border-bottom: 0.1875rem solid #BABBC5;
}
.header-wrap{

}
.header-text {
    font-size: $_64px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 2rem;
}
.header-description {
    
    margin-bottom: 5rem;
    p{
        font-size: $_24px;
        font-weight: 400;
        color: #FFFFFF;
    }
}
.header-find-out{
    

    .header-find{
        font-size: $_24px;
        font-weight: 900;
        color: #ffffff;
        padding: 16px 60px;
        background-color: #FF4343;
        }
}