.header {
    padding: 2.375rem 0 6.5rem 0;
    background-image: url('../img/fons/img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 73, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9.6875rem;
    border-bottom: 1px solid #BABBC5;
    padding-bottom: 2rem;
}
.logo {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #656980;
    span{
        font-weight: 200;
        color: #ffffff;
    }
}
.navigation{
    width: 41.875rem;
}
.navigation-list {
    display: flex;
    justify-content: space-evenly;
}
.navigation-list_item{
    width: 8.375rem;
    text-align: center;
}
.link{
    font-size: 0.8125rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.1s;
}
.link:hover{
    padding: 2.8rem 0;  
    border-bottom: 0.1875rem solid #BABBC5;
}
.link:active{
    color: #E71414;
    border-bottom: 0.1875rem solid #E71414;
}
.header-burger{
display: none;
}



// --------------------------------------------------------
.header-wrap{

}
.header-text {
    font-size: 4rem;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
}
.header-description {
    margin-bottom: 5rem;
    p{
        font-size: 1.5rem;
        font-weight: 400;
        color: #FFFFFF;
        text-align: center;
    }
}
@media (max-width: 1024px){
    .header-text{
        font-size: 48px;
    }
    .header-description p{
        font-size: 18px;
    }
    .logo{
        font-size: 25px;
    }
}
@media (max-width: 320px){
    .link:hover{
        padding: 0;  
        border-bottom: none;
    }
    .link:active{
        color: #ffffff;  
        border-bottom: none;
    }
    .logo{
        font-size: 14px;
        z-index: 5;
    }
    .header-burger{
        display: block;
        position: relative;
        min-width: 30px;
        height: 20px;
        z-index: 3;
        cursor: pointer;
    }
    .header-burger::before,
    .header-burger::after{
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header-burger::before{
        top: 0;
    }
    .header-burger::after{
        bottom: 0;
    }
    .header-burger:active .navigation{
        display: block;
    }
    .header-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active::after{
        transform: rotate(-45deg);
        top: 9px;
    }
    .navigation{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        // background-color: #E71414;
        padding: 100px 0 0 0 ;
    }
    .navigation.active{
        top: 0;
    }
    .navigation-list{
        display: block;
    }
    .navigation-list_item{
        margin: 0 0 20px 0;
    }
}