@use  '../scss/icons';
@use  '../scss/mixins';
@use  '../scss/variables';
@use  '../scss/header.scss';
@use  '../scss/card.scss';
@use  '../scss/work.scss';
@use  '../scss/our-team.scss';
@use  '../scss/slider.scss';
@use  '../scss/download.scss';
@use  '../scss/footer-top.scss';
@use  '../scss/footer.scss';
* {
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: 1px solid red;
}
html{
    font-family: "Raleway", serif;
}
// html,body{
//     width: 100%;
//     overflow-x: hidden;
// }
.container {
    padding: 0 15px;
    margin: auto;
    max-width: 1170px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.download-link {
    display: block;
    margin: auto;
    width: 23.125rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color:  #ffffff;
    padding: 1rem 0;
    background-color: rgb(255, 67, 67);
    text-transform: uppercase;
}
.download-link:hover{
    background-color: rgb(231, 20, 20);
}
.download-link:active{
    box-shadow: 5px 5px 5px 5px rgba(255, 67, 67);

}
@media (max-width: 1024px){
    .download-link{
        width: 314px;
        font-size: 18px;
    }
}
@media (max-width: 320px){
    .download-link{
        width: 280px;
        font-size: 24px;
    }
}